@typeparam TItem where TItem : class
    @typeparam TSetup where TSetup : GridSetup<TItem> 
@using Sawnet.Blazor.Toolbar
@using Sawnet.Blazor.Grid.Columns
@inherits SnComponentBase

<div class="sn-grid-container">
    <div class="toolbar-container">
        <SnToolbar Title="@Title">
            <Actions>
                @if (OnCreateClicked.HasDelegate)
                {
                    <SnToolbarAction
                        Icon="fas fa-plus"
                        Text="Common.Add"
                        TooltipText="Common.Add"
                        OnClick="@(async () => await OnCreateClickedAsync())"/>
                }
                @if (OnEditClicked.HasDelegate)
                {
                    <SnToolbarAction
                        Icon="fas fa-pen"
                        Text="Common.Edit"
                        TooltipText="Common.Edit"
                        Disabled="@(SelectedItem is null)"
                        OnClick="@(async () => await OnEditClickedAsync())"/>
                }
                @if (OnDeleteClicked.HasDelegate)
                {
                    <SnToolbarAction
                        Icon="fas fa-trash-alt"
                        Text="Common.Delete"
                        TooltipText="Common.Delete"
                        Disabled="@(SelectedItem is null)"
                        OnClick="@(async () => await OnDeleteClickedAsync())"/>
                }
            </Actions>
        </SnToolbar>
    </div>
    <div class="grid-container">
        <SfGrid
            @ref="_grid"
            TValue="TItem"
            DataSource="Data"
            AllowSelection="true"
            AllowPaging="true"
            Width="100%"
            RowHeight="30">
            <GridSelectionSettings Type="GetSelectionType()" Mode="Syncfusion.Blazor.Grids.SelectionMode.Row"/>
            
            <GridPageSettings @ref="_pageSettings" PageSize="25"/>
            
            <GridEvents
                RowDropped="OnSelectionChangedAsync"
                RowSelected="OnSelectionChangedAsync"
                RowDeselected="OnSelectionChangedAsync"
                OnRecordDoubleClick="(args) => OnEditClickedAsync(args.RowData)"
                TValue="TItem"/>

            <GridColumns>
                @if (Setup != null)
                {
                    @foreach (var column in Setup.Columns)
                    {
                        <SnColumn TItem="TItem" Setup="@column"/>
                    }
                }
            </GridColumns>
        </SfGrid>
    </div>
</div>