@inherits SnComponentBase
<div class="Raftel-toolbar-item">
    <ToolbarItem
        TooltipText="@TooltipText"
        Text="@Text"
        ShowTextOn="@DisplayMode.ToSyncfusionValue()"
        Align="@Align.ToSyncfusionValue()"
        PrefixIcon="@Icon"
        OnClick="ClickAsync"
        Disabled="@Disabled">
    </ToolbarItem>
</div>