@inherits Sawnet.Blazor.SnComponentBase
@typeparam TItem where TItem : class
@using Syncfusion.Blazor.Popups

<div class="advanced-modal-form">
    <SfDialog @ref="_dialog" Width="95vw" Height="100vh" IsModal="true" Visible="false" ShowCloseIcon="false">
        <DialogTemplates>
            <Header>
                <div class="form-header">
                    <button class="back-button" @onclick="CloseAsync">
                        <i class="fas fa-arrow-left"></i>
                    </button>

                    <div class="center-buttons">
                        <button class="save" @onclick="@SaveAsync">
                            <i class="fas fa-save"></i>
                        </button>
                        <button class="delete" @onclick="@DeleteAsync">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="form-title">
                    @Title
                </div>
                <div class="entity-description">
                    @Item?.ToString();
                </div>
            </Header>
            <Content>
                <div class="form-body-container">
                    <div class="body-toolbar">
                        <div class="toolbar-left-items">
                            @if (LeftToolbarItems != null)
                            {
                                @LeftToolbarItems
                            }
                        </div>
                        <div class="toolbar-right-items">
                            @if (RightToolbarItems != null)
                            {
                                @RightToolbarItems
                            }
                            <SnLinkButton OnClick="@ToggleRightPanel" Icon="fas fa-info"/>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="main-panel">
                            <SnTypedForm
                                @ref="_typedForm"
                                TItem="TItem"
                                Item="@Item"
                                Configuration="@Configuration"/>
                        </div>
                        @if (Insight != null)
                        {
                            <div class="@($"insight {RightPanelClass}")">
                                @Insight
                            </div>
                        }
                    </div>
                </div>
            </Content>
        </DialogTemplates>
        <DialogAnimationSettings Effect="@DialogEffect.Fade"></DialogAnimationSettings>
    </SfDialog>

</div>